<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Tiêu đề -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Chi tiết phóng viên</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <!-- Bảng quản lý độc giả -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <!-- /.panel-heading -->
                    <div class="panel-heading">
                        <div class="form-inline">
                            <label for="txtuserID">ID độc giả </label>&emsp;&emsp;&emsp;
                            <input readonly type="text" class="form-control" value="{{this.writers.userID}}"
                                id="txtuserID"
                                name="userID">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;
                            <label for="txtuName">Tên độc giả </label>&emsp;&emsp;&nbsp;
                            <input readonly type="text" class="form-control" value="{{this.writers.uName}}"
                                id="txtuName" name="uName">
                        </div><br>
                        <div class="form-inline">
                            <label for="txtBirthday">Ngày sinh </label>&emsp;&emsp;&emsp;
                            <input readonly type="text" class="form-control" value="{{this.writers.formatBirthday}}"
                                id="txtBirthday" name="Birthday">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                            <label for="txtEmail">Email </label>&emsp;&emsp;&emsp;&emsp;&emsp;
                            <input readonly type="text" class="form-control" value="{{this.writers.Email}}"
                                id="txtEmail" name="Email">
                        </div>
                        <br>
                        <div class="form-inline">
                            <label for="txtPseudonym">Bút danh </label>&emsp;&emsp;&emsp;&nbsp;&nbsp;
                            <input readonly type="text" class="form-control" value="{{this.writers.Pseudonym}}"
                                id="txtPseudonym" name="Pseudonym">
                        </div><br>
                        <div>
                            <button type="button" onclick="location.href='/admin/writer'" class="btn btn-primary">
                                <i class="fa fa-backward" aria-hidden="true"></i>
                                Danh sách
                            </button>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->