<!-- Nội dung trang web -->
<div id="content" class="container">
	<div id="main" class="row-fluid">
		<div class="clearfix"></div>
		<!-- Content Post -->
		<h3 style="background-color: #3D4C54"><span>
				<font color="white">&nbsp;&nbsp;&nbsp;&nbsp;<normal>Danh sách bài viết chứ nhãn: <i>'{{tagName}}'</i></font>
			</span></h3>
		<ul style="list-style: none;">
			{{#each data}}
			<li>
				<table style="width: 100%; margin-top: 20px">
					<tr>
						<td style="width: 30%; padding: 10px">
							<a class="image_thumb_zoom" href="/post/{{posID}}"><img class="ImageListNew"
									src="{{Url}}" /></a>
						</td>
						<td style="vertical-align: text-top;">
							<h4 class="post-title"><a style="font-size: 20px" href="/post/{{posID}}">{{Title}} </a></h4>
							<p><span style="font-size: 15px">{{Description}}</span>
								</br><br><span style="color: rgb(82, 82, 82)">
									<b> Chuyên mục:</b> {{cateName}}</br>
									<b> Ngày đăng:</b> {{DayPublish}}</br>
                                    <b> Nhãn:</b>
									{{#each tags}}
									<i><a href="../tag/{{tagName}}">{{tagName}}</a></i>&nbsp;
									{{/each}}</span>
							</p>
						</td>
					</tr>
				</table>
			</li>
			{{/each}}
		</ul>
		<center>
			<div class="pagination" style="font-size: 18px">
				<a href="?page={{previousPage}}">&laquo;</a>
				{{#each this.pages}}
				{{#if active}}
				<a href="?page={{value}}" class="active" style="color: green"><b><u>{{value}}</u></b></a>
				{{else}}
				<a href="?page={{value}}">{{value}}</a>
				{{/if}}
				{{/each}}
				<a href="?page={{nextPage}}">&raquo;</a>
			</div>
		</center>
		<!-- Content Post -->
	</div><!-- #main -->
</div><!-- #content -->