{{#section 'css'}}
<style>
    #divFivePost:hover {
        cursor: pointer;
        color: #6F9C26;
        font-weight: bold;
    }
</style>
{{/section}}

{{#section 'js'}}
<script>
    var isfixed = false;
    window.addEventListener('scroll', function (e) {
        var elementSame = document.getElementById("same");
        var rectSame = elementSame.getBoundingClientRect();

        if (rectSame.top < 0) {
            elementSame.style.position = "fixed";
            elementSame.style.top = "70px";
            elementSame.style.right = "10%";
            elementSame.style.width = "22%";
        }

        var elementContent = document.getElementById("content");
        var rectContent = elementContent.getBoundingClientRect();
        if (rectContent.top > rectSame.top - 19) {
            elementSame.style.position = "initial"
            elementSame.style.top = "initial";
            elementSame.style.right = "initial";
            elementSame.style.width = "28%";
        }

    });
</script>

<script>
    document.getElementById('backtotop').addEventListener("click", function(){
        //Nếu button được click thì nhảy về đầu trang
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    });
</script>
{{/section}}

<!-- Nội dung trang web -->
<div id="content" class="container" style="padding-top:20px">
    
    {{#if post.Premium}}
    <div>
        <img src="/images/favourites.png">
    </div>
    {{/if}}
    <div style="display:flex;">
        <span style="width:70%; margin-right:2%">

            <!-- Content Post -->
            <div id="content" class="card" style="padding-left: 0px; color: black; font-size: 18px; line-height: 25px; padding-top:0px">

                <h2 style="color: black; font-size: 25px;">{{post.Title}}</h2>

                <div style="display:flex">
                    <p style="color: dimgray; font-size: 14px">{{post.dayWritten}}&nbsp;&nbsp;</p>
                    <img src="/images/boy.png" alt="" style="width: 15px; height:15px; padding-top:4px">
                    <p style="font-style: italic; font-size: 15px">&nbsp;{{post.Views}}</p>
                </div>

                <div style="border: #6F9C26 solid 1px;  padding: 10px; padding-top:15px; border-radius:20px">
                    <p style="font-style: italic">{{post.Description}}</p>
                </div>

                <br>

                <div style="font-size: 14px">
                    {{{post.Content}}}
                </div>


                <p style="text-align:right;">
                    <div style="font-size: 13px">Nhãn:
                        {{#each tags}}
                        <a href="/tag/{{tagName}}">#{{tagName}}</a>&nbsp;
                        {{/each}}
                    </div>
                </p>

                <div style="display:flex; justify-content:flex-end">
                    <strong>{{post.Pseudonym}}</strong>
                </div>
            </div>

            <a title="Back to top" style="position:fixed; bottom:20px; right:31%; font-size:14px; color:black; cursor:pointer" id="backtotop"><img style="width:45px" src="/images/backtotop.png"></a>

            <!-- Phần bình luận -->
            <div style="color: black;">
                <h3>BÌNH LUẬN</h3>

                {{#if isLoggedIn}}
                <div style="display: flex; margin-bottom:20px">
                    <span style="width: 50px;">
                        <img style="width: 40px; vertical-align: center; margin-right: 15px" src="../images/user.png" />
                    </span>

                    <span style="width: 100%">
                        <form action="/post/comment/{{post.posID}}" method="post">
                            <textarea id="comment" name="comment" placeholder="Nhập bình luận..." style="width: 100%"
                                rows="2" onkeypress=""></textarea>
                            </br>
                            <button class="btn btn-success" type="submit" id="cf_send"
                                style="padding: 0px; width: 80px; height:35px">Nhận
                                xét</button>
                        </form>
                    </span>
                </div>
                {{else}}

                <div style="display: flex; justify-content:center; margin-bottom:20px">
                    <button class="btn btn-success" onclick="window.location='/allusers/login';">Hãy đăng nhập để tham
                        gia bình luận</button>
                </div>

                {{/if}}
                <div>
                    <h4> {{numComment}} bình luận</h4>
                </div>
                {{#each comments}}
                <div style="display: flex; margin-bottom:10px">
                    <span style="width: 50px;">
                        <img style="width: 40px; vertical-align: center; margin-right: 15px"
                            src="../images/user1.png" />
                    </span>

                    <span style="width: 100%">
                        <a>{{uName}}</a>
                        <p>
                            {{content}}
                        </p>
                        <p>
                            <span>•&nbsp;{{DatePost}} - Giờ Việt Nam</span>
                        </p>
                    </span>
                </div>
                {{/each}}

            </div>
        </span>

        <span id="same" style="width:28%;">
            <!-- 5 bài viết cùng chuyên mục -->
            <div style="margin-bottom: 0px">
                <hr style="border: 2px solid #6F9C26; background:#6F9C26;">
                <p style="margin-top:-10px; color:#6F9C26; font-size:17px; font-weight:bold">BÀI VIẾT CÙNG
                    CHUYÊN MỤC
                </p>
            </div>
            {{#each fiveSameCate}}
            <hr style="border: 1px solid rgb(178, 182, 171); background:#6F9C26; margin-top:3px">

            <div onclick="window.location='/post/{{posID}}';" id="divFivePost" style="display:flex; margin-top:-3px; margin-bottom:0px">
                <span style="width:38%; margin-top:4px">
                    <img src="{{Url}}">
                </span>
                <span style="width:2%"></span>
                <span style="width:60%; font-size:14px">
                    {{Title}}
                </span>
            </div>
            {{/each}}


        </span>
    </div>

</div><!-- #content -->