<script type="text/javascript">

    function validateForm() {
        // Get form via form name:
        var myForm = document.forms["myForm"];

        var u = myForm["TagName"].value;

        if (u == "") {
            alert("Đừng để tên nhãn rỗng!");
            myForm["TagName"].focus(); // Focus
            return false;
        }
        return true;
    }
    function validateForm1() {
        // Get form via form name:
        var myForm = document.forms["myForm1"];

        var u = myForm["TagNameUpdate"].value;

        if (u == "") {
            alert("Đừng để tên nhãn rỗng!");
            myForm["TagNameUpdate"].focus(); // Focus
            return false;
        }
        return true;
    }
</script>
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Tiêu đề -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Quản lý nhãn</h1>
            </div>

            <!-- /.col-lg-12 -->
        </div>
        {{#if alert}}
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Cảnh báo:</strong> Nhãn đang được sử dụng, không thể xóa!
        </div>
        {{/if}}
        {{#if exist}}
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Cảnh báo:</strong> Tên nhãn bạn nhập đã tồn tại!
        </div>
        {{/if}}
        <!-- Bảng quản lý -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <form name="myForm" method="POST" action="/admin/tag/add" onsubmit = "return validateForm()">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Tên nhãn" id="txtTagName"
                                    name="TagName">
                                <span class="input-group-btn" style="width:0;">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        Thêm
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example1">
                                <thead>
                                    <tr>
                                        <th width='3%'>#</th>
                                        <th width='30%'>Tên nhãn</th>
                                        <th width='20%'>Lượt dùng</th>
                                        <th width='25%'>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each this.tags}}
                                    <tr>
                                        <td>{{@key}}</td>
                                        <td>{{tagName}}</td>
                                        <td>{{numbersOf}}</td>
                                        <td>
                                            <form method="POST" action="/admin/tag/update/{{tagID}}" name="myForm1"  onsubmit = "return validateForm1()">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" value="{{tagName}}"
                                                        id="txtTagName" name="TagNameUpdate">
                                                    <span class="input-group-btn" style="width:0;">
                                                        <button type="submit" class="btn btn-success">
                                                            Cập nhật
                                                        </button>
                                                        <button type="submit" class="btn btn-danger"
                                                            onclick="return confirm('Bạn thực sự muốn xóa nhãn này?')"
                                                            formaction="/admin/tag/delete/{{tagID}}">
                                                            Xóa
                                                        </button>
                                                    </span>
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->