<!DOCTYPE html>


<html lang="en-US">

<head>
<title>Báo Điện Tử TH16-News</title>
<meta charset="UTF-8" />
<link rel="shortcut icon" href="/images/favicon.png" title="Favicon"/>
<meta name="viewport" content="width=device-width" />

<link rel='stylesheet' id='magz-style-css'  href='/css/style.css' type='text/css' media='all' />

<link rel='stylesheet' id='magz-style-css'  href='/css/style.css' type='text/css' media='all' />
<link rel='stylesheet' id='swipemenu-css'  href='/css/swipemenu.css' type='text/css' media='all' />
<link rel='stylesheet' id='flexslider-css'  href='/css/flexslider.css' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrap-css'  href='/css/bootstrap.css' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrap-responsive-css'  href='/css/bootstrap-responsive.css' type='text/css' media='all' />
<link rel='stylesheet' id='simplyscroll-css'  href='/css/jquery.simplyscroll.css' type='text/css' media='all' />
<link rel='stylesheet' id='jPages-css'  href='/css/jPages.css' type='text/css' media='all' />
<link rel='stylesheet' id='rating-css'  href='/css/jquery.rating.css' type='text/css' media='all' />
<link rel='stylesheet' id='ie-styles-css'  href='/css/ie.css' type='text/css' media='all' />
<link rel='stylesheet' id='Roboto-css'  href='/fonts.googleapis.com/css.css' type='text/css' media='all' />
{{{_sections.css}}}

<script type='text/javascript' src="/js/jquery-1.10.2.min.js"></script>
<script type='text/javascript' src='/js/html5.js'></script>
<script type='text/javascript' src='/js/bootstrap.min.js'></script>
<script type='text/javascript' src='/js/jquery.flexslider.js'></script>
<script type='text/javascript' src='/js/jquery.flexslider.init.js'></script>
<script type='text/javascript' src='/js/jquery.bxslider.js'></script>
<script type='text/javascript' src='/js/jquery.bxslider.init.js'></script>
<script type='text/javascript' src='/js/jquery.rating.js'></script>
<script type='text/javascript' src='/js/jquery.idTabs.min.js'></script>
<script type='text/javascript' src='/js/jquery.simplyscroll.js'></script>
<script type='text/javascript' src='/js/fluidvids.min.js'></script>
<script type='text/javascript' src='/js/jPages.js'></script>
<script type='text/javascript' src='/js/jquery.sidr.min.js'></script>
<script type='text/javascript' src='/js/jquery.touchSwipe.min.js'></script>
<script type='text/javascript' src='/js/custom.js'></script>


</head>

<body>

<div id="page">

	<!-- Các menu chuyên mục -->
	<header id="header" class="container">
		<div id="mast-head">
			<div id="logo">
				<a href="index.html" title="Magazine" rel="home"><img src="/images/study.png" alt="Magazine" /></a>
			</div>
		</div>
    <nav class="navbar navbar-inverse clearfix nobot">
			<a id="responsive-menu-button" href="index.html#swipe-menu">
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>		
			</a>
      <div class="nav-collapse" id="swipe-menu-responsive">
				<ul class="nav">
					<li>
					<span id="close-menu">
						<a class="close-this-menu">Đóng</a>
							<script type="text/javascript">
								jQuery('a.sidr-class-close-this-menu').click(function(){
									jQuery('div.sidr').css({
										'right': '-476px'
									});
									jQuery('body').css({
									'right': '0'
									});							
								});
							</script>
						
					</span>
					</li>
									
					<li><a href="index.html"><img src="/images/home.png" alt="Magazine"></a></li>

					{{#each lcCategories}}
					<li class="dropdown"><a href="viewListNews.html">{{cateName}}</a>
						<ul class="sub-menu">
							
							<li><a href="viewListNews.html">GIAO THÔNG</a></li>

						</ul>
					</li>
					{{/each}}
					<li>
						{{#if isLoggedIn}}
							<a href="/allusers/logout">LOG OUT</a>
						{{else}}
							<a href="/allusers/login">LOG IN</a>
						{{/if}}
					</li>
					
				</ul>
			</div><!--/.nav-collapse -->
			
    </nav>
			
	</header><!-- #masthead -->

	<!-- Các headline -->
	<div id="headline" class="container">
		<h3 style="background-color: #3D4C54"><span><font color="white">&nbsp&nbsp&nbsp&nbspTin hot trong tuần</font></span></h3>
		<div class="row-fluid">
		
			<div class="span3">
				<article class="post">
					<a href="viewNews.html" title="Đòi nợ thành công Tottenham, Man City trở lại ngôi đầu Ngoại hạng Anh" rel="bookmark">
					<img width="225" height="136" src="/images/PhotoOfNews/ManCity.gif" class="thumb"/>
					</a>
					<div class="entry">
						<h3><a href="viewNews.html" title="Đòi nợ thành công Tottenham, Man City trở lại ngôi đầu Ngoại hạng Anh" rel="bookmark">
							Đòi nợ thành công Tottenham, Man City trở lại ngôi...</a></h3>
						<p>THỂ THAO</p>
						<p>45 phút trước</p>
					</div>
					<div class="clearfix"></div>
				</article>
			</div>
		
			<div class="span3">
				<article class="post">
					<a href="viewNews.html#" title="Gần chục nghìn người đổ về công viên nước Hồ Tây tắm giải nhiệt" rel="bookmark">
					<img width="225" height="136" src="/images/PhotoOfNews/TamHoTay.jpg" class="thumb"/>
					</a>
					<div class="entry">
						<h3><a href="viewNews.html#" title="Gần chục nghìn người đổ về công viên nước Hồ Tây tắm giải nhiệt
							Zing 3 giờ" rel="bookmark">Gần chục nghìn người đổ về công viên nước Hồ Tây tắm... </a></h3>
							<p>XÃ HỘI</p>
						<p>1 giờ trước</p>
					</div>
					<div class="clearfix"></div>
				</article>
			</div>

			<div class="span3" width="225" height="136">
				<article class="post">
					<a href="viewNews.html#" title="Đội trưởng CLB Sài Gòn nhận thẻ đỏ vì chơi xấu với Mạc Hồng Quân" rel="bookmark">
					<img width="225" height="136" src="/images/PhotoOfNews/CLBSaiGon.gif" class="thumb"/>
					</a>
					<div class="entry">
						<h3><a href="viewNews.html#" title="Đội trưởng CLB Sài Gòn nhận thẻ đỏ vì chơi xấu với Mạc Hồng Quân" rel="bookmark">Đội trưởng CLB Sài Gòn nhận thẻ đỏ vì chơi xấu với Mạc...</a></h3>
						<p>THỂ THAO</p>
						<p>2 giờ trước</p>
					</div>
					<div class="clearfix"></div>
				</article>
			</div>

			<div class="span3">
				<article class="post" width="225" height="136">
					<a href="viewNews.html#" title="Đột kích nhiều karaoke, khách sạn ở Quảng Bình, phá chuyên án ma túy và mại dâm" rel="bookmark">
					<img width="225" height="136" src="/images/PhotoOfNews/KaraokeBanDam.jpg" class="thumb" alt="KaraokeBanDam" />
					</a>
					<div class="entry">
						<h3><a href="viewNews.html#" title="Đột kích nhiều karaoke, khách sạn ở Quảng Bình, phá chuyên án ma túy và mại dâm" rel="bookmark">Đột kích nhiều karaoke, khách sạn ở Quảng Bình...</a></h3>
						<p>PHÁP LUẬT</p>
						<p>3 giờ trước</p>
					</div>
					<div class="clearfix"></div>
				</article>
			</div>	
		
		</div>
	</div>

	<!-- Đoạn Intro -->
	<div id="intr" class="container">
		<div class="row-fluid">
			<div class="brnews span9">
				<h3 style="color: black">Tin cực nóng</h3>
				<ul id="scroller">
					<li><p><a href="viewNews.html#" title="Đòi nợ thành công Tottenham, Man City trở lại ngôi đầu Ngoại hạng Anh" rel="bookmark"><span class="title"></span> Đòi nợ thành công Tottenham, Man City trở lại ngôi đầu Ngoại hạng Anh</a></p></li>
					<li><p><a href="viewNews.html#" title="Gần chục nghìn người đổ về công viên nước Hồ Tây tắm giải nhiệt" rel="bookmark"><span class="title"> Gần chục nghìn người đổ về công viên nước Hồ Tây tắm giải nhiệt</a></p></li>
					<li><p><a href="viewNews.html#" title="Đội trưởng CLB Sài Gòn nhận thẻ đỏ vì chơi xấu với Mạc Hồng Quân" rel="bookmark"><span class="title"></span> Đội trưởng CLB Sài Gòn nhận thẻ đỏ vì chơi xấu với Mạc Hồng Quân</a></p></li>
				</ul>
			</div>
		
			<div class="search span3">
				<div class="offset1">
					<form method="get" id="searchform" action="viewResultSearch.html#">
						<p><input href="viewResultSearch.html" type="text" value="Tìm kiếm tin..." onfocus="if ( this.value == 'Tìm kiếm tin...' ) { this.value = ''; }" onblur="if ( this.value == '' ) { this.value = 'Tìm kiếm tin...'; }" name="s" id="s" />
						<!-- <input href="viewResultSearch.html" type="submit" id="searchsubmit" value="Search" /></p> -->
					</form>
				</div>
			</div>
		</div>
	</div>

 
    {{{body}}}
 

	<!-- Footer -->
	<footer id="footer" class="row-fluid">
		<div id="site-info" class="container">
			<div id="footer-nav" class="fr">
				<ul class="menu">
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
			<div id="credit" class="fl">
				<p>All Right Reserved by 3NG Team</p>
			</div>
		</div><!-- .site-info -->
	</footer>	
	{{{_sections.js}}}
</div><!-- #wrapper -->
</body>
</html>
