{{#section 'js'}}
<script type="text/javascript" src="../js/index-writer.js"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script>
  var jQuery213 = jQuery.noConflict(true);
  jQuery213(document).ready(function () {
    jQuery213(document).on("click", ".thaotacButton", function () {

      if (jQuery213(this).children(":first").prop('src').includes('checkmark')) {
        // When the user clicks the button, open the modal 
        var posID1 = document.getElementById("posID1");
        var row_index = jQuery213(this).parent().parent().index('tr');
        var table = document.getElementById("myTable");
        var id = table.rows[row_index - 1].cells[0].innerHTML;
        posID1.value = id;

        jQuery213('#myModal-moderate').show("slow");

      } else if (jQuery213(this).children(":first").prop('src').includes('multiply')) {
        var posID2 = document.getElementById("posID2");
        var row_index = jQuery213(this).parent().parent().index('tr');
        var table = document.getElementById('myTable');
        var id = table.rows[row_index - 1].cells[0].innerHTML;
        posID2.value = id;
        jQuery213('#myModal-reject').show("slow");
      }
    });

  })


  var modalModerate = document.getElementById('myModal-moderate');

  var modalReject = document.getElementById('myModal-reject');

  // Get the <span> element that closes the modal
  var spanModerate = document.getElementsByClassName("exit")[0];

  var spanReject = document.getElementsByClassName("exit")[1];

  // When the user clicks on <span> (x), close the modal
  spanModerate.onclick = function () {
    jQuery213('#myModal-moderate').hide("slow");
  }

  spanReject.onclick = function () {
    jQuery213('#myModal-reject').hide("slow");
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modalModerate) {
      jQuery213('#myModal-moderate').hide("slow");
    }
    if (event.target == modalReject) {
      jQuery213('#myModal-reject').hide("slow");
    }
  }

  function moderate() {
    alert("Duyệt bài thành công");
    document.getElementById("moderaterForm").submit();
  }


  function reject() {
    alert("Đã từ chối bài viết");
    document.getElementById("rejectForm").submit();
  }

  // This is a functions that scrolls to #id
  function scrollTo(id) {
    // Scroll
    jQuery213('html,body').animate({ scrollTop: jQuery213("#" + id).offset().top + 18 }, 'slow');
  }


</script>


<script type='text/javascript' src="../js/jquery-1.10.2.min.js"></script>
<script type='text/javascript' src='../js/html5.js'></script>
<script type='text/javascript' src='../js/bootstrap.min.js'></script>
<script type='text/javascript' src='../js/jquery.flexslider.js'></script>
<script type='text/javascript' src='../js/jquery.flexslider.init.js'></script>
<script type='text/javascript' src='../js/jquery.bxslider.js'></script>
<script type='text/javascript' src='../js/jquery.bxslider.init.js'></script>
<script type='text/javascript' src='../js/jquery.rating.js'></script>
<script type='text/javascript' src='../js/jquery.idTabs.min.js'></script>
<script type='text/javascript' src='../js/jquery.simplyscroll.js'></script>
<script type='text/javascript' src='../js/fluidvids.min.js'></script>
<script type='text/javascript' src='../js/jPages.js'></script>
<script type='text/javascript' src='../js/jquery.sidr.min.js'></script>
<script type='text/javascript' src='../js/jquery.touchSwipe.min.js'></script>
<script type='text/javascript' src='../js/custom.js'></script>

{{/section}}

{{#section 'css'}}
<style>
  .thaotacButton {
    background: transparent;
    border: 0px;
    margin-left: 3px;
  }

  .thaotacButton:focus {
    outline: none;
  }
</style>

<link rel='stylesheet' id='magz-style-css' href='../css/style.css' type='text/css' media='all' />
<link rel='stylesheet' id='swipemenu-css' href='../css/swipemenu.css' type='text/css' media='all' />
<link rel='stylesheet' id='flexslider-css' href='../css/flexslider.css' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrap-css' href='../css/bootstrap.css' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrap-responsive-css' href='../css/bootstrap-responsive.css' type='text/css'
  media='all' />
<link rel='stylesheet' id='simplyscroll-css' href='../css/jquery.simplyscroll.css' type='text/css' media='all' />
<link rel='stylesheet' id='jPages-css' href='../css/jPages.css' type='text/css' media='all' />
<link rel='stylesheet' id='rating-css' href='../css/jquery.rating.css' type='text/css' media='all' />
<link rel='stylesheet' id='ie-styles-css' href='../css/ie.css' type='text/css' media='all' />
<link rel='stylesheet' id='Roboto-css' href='../fonts.googleapis.com/css.css' type='text/css' media='all' />
<link rel='stylesheet' href='../css/ngocStyle.css' />
{{/section}}

<div id="page">
  <div id="content" class="container">
    <div id="tabwidget" style="margin-top:-20px">
      <div>

        <ul id="tabnav">
          <li style="width: 33%; text-align: left; float:left; ">
            <h3><a href="/editor" class="selected"><img src="/images/view-bg.png" alt="Popular">Bài viết chờ duyệt&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;&emsp;</a></h3>
          </li>
          <li style="width: 33%; text-align: left; float:left;">
            <h3><a href="/editor/rejected"><img src="/images/time.png" alt="Comments">Bài đã từ
                chối&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&emsp;&emsp;</a></h3>
          </li>
          <li style="width: 33%; text-align: left; float:left;">
            <h3><a href="/editor/approved"><img src="/images/time.png" alt="Comments">Bài đã duyệt&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</a></h3>
          </li>
        </ul>
      </div>
      <!-- Nội dung trang web -->
      <div id="tab-content" style="border: 0px; margin-top:0px">

        <div id="tab" class="table-background" style="padding:10px; height:100%; display: block;">
          <h2 style="color: black; padding-top:10px; text-align:center">Danh sách bài đăng đang chờ kiểm
            duyệt </h2>
          <section>
            <!--for demo wrap-->

            <div class="tbl-header">
              <table cellpadding="0" cellspacing="0" border="0" style="color:black;" class="table table-bordered">
                <thead>
                  <tr>

                    <th style="width:3%; ">STT</th>
                    <th style="width:25%; ">Tiêu đề bài viết</th>
                    <th style="width:15%; ">Ảnh</th>
                    <th style="width:30%; ">Mô tả</th>
                    <th style="width:9%; ">Chuyên mục</th>
                    <th style="width:9%; ">Ngày đăng</th>
                    <th style="width:9%; ">Thao tác</th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="tbl-content" style="margin-top:-16px" >
              <table id="myTable" cellpadding="0" border="0" cellspacing="0" class="table table-bordered">
                <tbody>
                  {{#each this.posts}}

                  <tr>
                    <td style="width:0px; font-size:0px; display:none">{{posID}}</td>
                    <td onclick="window.location='/post/{{posID}}';" style="width:3%">#</td>
                    <td onclick="window.location='/post/{{posID}}';" style="width:25%">{{Title}}</td>
                    <td onclick="window.location='/post/{{posID}}';" style="width:15%"><img src="{{Url}}" /></td>
                    <td onclick="window.location='/post/{{posID}}';" style="width:30%">{{Description}}</td>
                    <td onclick="window.location='/post/{{posID}}';" style="width:9%">{{cateName}}</td>
                    <td onclick="window.location='/post/{{posID}}';" style="width:9%; padding-left: 10px">
                      {{DayWrittenFormat}}</td>
                    <td style="width:9%">
                      <button class="thaotacButton" title="Duyệt bài" data-toggle="tooltip"><img
                          src="https://img.icons8.com/nolan/19/000000/checkmark.png"></button>
                      <button class="thaotacButton" title="Từ chối" data-toggle="tooltip"><img
                          src="https://img.icons8.com/nolan/19/000000/multiply.png"></button>
                    </td>
                  </tr>

                  {{/each}}
                </tbody>
              </table>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div><!-- #content -->
  <!-- The Modal -->
  <div id="myModal-moderate" class="modal-container">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="exit">&times;</span>
      <h2 style="color: black; text-align: center">Duyệt bài viết</h2>
      <form id="moderaterForm" method="post" action="/editor/approve">
        <input id="posID1" name="posID1" type="hidden">

        <label for="daypublish">Ngày xuất bản: </label>
        <input id="daypublish" name="daypublish" type="date">

        <div style="float:right;">
          <input type="button" style="margin-right: 10px" type="submit" class="btn btn-large" value="Xác nhận"
            onclick="moderate()"></input>
        </div>
      </form>
    </div>
  </div>

  <div id="myModal-reject" class="modal-container">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="exit">&times;</span>
      <h2 style="color: black; text-align: center">Lý do từ chối bài viết</h2>
      <form id="rejectForm" method="POST" action="/editor/reject">
        <input id="posID2" name="posID2" type="hidden">
        <textarea placeholder="Lý do từ chối bài viết ....." style="width:100%; height: 100%; resize:vertical"
          name="Additional"></textarea>
        <div style="float:right;">
          <input type="button" style="margin-right: -13px" class="btn btn-large" value="Xác nhận" onclick="reject()">
        </div>
      </form>
    </div>

  </div>
</div>